:root {
  --light-blue: #04c3ff;
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #f57f17;
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0cbfae;
  --loader-color: #0cbfae;
}

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-image: url("../../../assets/Home/bg.jpg");
}

.profile-parent {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-detail-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.primary-text {
  font-size: 24px;
  color: var(--white);
  font-family: "Poppins SemiBold";
}

.highlighted-text {
  color: var(--dark-orange);
}

.typewriter {
  font-family: cursive;
  margin-top: 26px;
  margin-bottom: 26px;
}

.profile-role-tagline {
  font-size: 19px;
  margin: 50px 0 0 0;
  font-family: "Poppins Light";
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../../assets/Home/pic.png");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: solid aliceblue;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 100ox 0px 0 80px;
  }
  .profile-detail-name {
    font-size: 20px;
  }
  .profile-detail-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture-background {
    border-radius: 50%;
    height: 280px;
    width: 280px;
  }

}

@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 60px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }

  .profile-options .primary-btn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .profile-options,
  .profile-detail-role {
    text-align: center;
  }
}
