.title-about-con{
    text-align: center;
    margin-top: 50px;
    font-family: "Poppins SemiBold";
    margin-bottom: 50px;
}

.about-pic-con{
    height: 92%;
    width: 92%;
    background-image: url("../../assets/AboutMe/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
}

.about-text{
    text-align: justify;
    font-size: 20px;
    font-family: "Poppins Regular";
    margin-bottom: 110px;
}

.highlights{
    font-size: 16px;
    text-align: left;
    line-height: 10px;
}

.text-highlights{
    margin-bottom: 20px;
    font-family: "Poppins Bold";
}